body {
    overflow-x: hidden;
}
.center {
    text-align: center;
}
.center-xy {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.center-xy-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
*:focus {
    outline: none !important;
}
/* header section css starts*/
#logo-main {
    position: relative;
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 50px;
    background-color: white;
    margin: 0px auto;
    width: 100%;
    box-shadow: 0px 0px 5px 5px rgba(200, 200, 200, 0.1);
    z-index: 2;
}

nav {
    background: #f9f9f9;
}
nav .menuItems {
    list-style: none;
    display: flex;
}
nav .menuItems li {
    padding: 15px 10px;
    border: 2px solid transparent;
}
nav .menuItems li a {
    text-decoration: none;
    color: #535353;
    font-size: 16px;
    padding: 15px 10px;
    font-weight: 400;
    margin: 0;
    transition: all 0.5s ease-in-out;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav .menuItems li a:hover,
nav .menuItems .dashbord-stuff li a:hover {
    color: #18bc9c;
}

.dashbord-stuff {
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    right: 0;
}
.dashbord-stuff li {
    text-align: right;
}
nav .menuItems li:hover {
    border-bottom: 2px solid black;
}
/* header section css ends*/

/* drag-drop file input place starts */
.upload-form {
    min-height: 365px;
    max-width: 460px;
    min-width: 320px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.08);
    padding-top: 0;
    padding: 32px;
    width: 100%;
    margin: 50px auto;
}
.drop-zone {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    cursor: pointer;
    color: #cccccc;
    border: none;
    border-radius: 4px;
    position: relative;
    border: 1px solid #e7e9f5;
}
.drop-zone:active,
.drop-zone:focus,
.drop-zone:hover {
    border: 1px solid #bada55;
}

.drop-zone__prompt {
    background-color: rgb(185, 185, 185);
    padding: 50px;
    border-radius: 50%;
}
.drop-zone__prompt i {
    font-size: 30px;
    color: #ffffff;
}
.drop-zone--over {
    border-style: solid;
}

.drop-zone__input {
    display: none;
}

.drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    background-position: center;
    position: relative;
}

.drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
}

/* drag-drop file input place ends */
/* form */
.custom-form-group {
    position: relative;
    display: flex;
    border: 1px solid #e7e9f5;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin: 20px auto;
}
.custom-form-group:active,
.custom-form-group:focus,
.custom-form-group:hover {
    border: 1px solid #bada55;
}
.custom-form-label {
    position: absolute;
    font-size: 11px;
    left: 15px;
    line-height: 13px;
    top: 5px;
    color: rgb(109, 117, 141);
}
.custom-form-input {
    display: absolute;
    width: 100%;
    border: none;
    background-color: transparent;
    border-radius: 4px;
    height: 48px;
    padding-top: 10px;
    padding-left: 15px;
    top: 0;
    left: 0;
    width: 100%;
}

/*  */
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    input[type='checkbox'],
    input[type='radio'] {
        --active: #bada55;
        --active-inner: #fff;
        --focus: 2px rgba(255, 255, 255, 0.3);
        --border: #ffffff;
        --border-hover: #bada55;
        --background: grey;
        --disabled: #f6f8ff;
        --disabled-inner: #e1e6f9;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 21px;
        outline: none;
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 0;
        cursor: pointer;
        border: 1px solid var(--bc, var(--border));
        background: var(--b, var(--background));
        transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    }
    input[type='checkbox']:after,
    input[type='radio']:after {
        content: '';
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    }
    input[type='checkbox']:checked,
    input[type='radio']:checked {
        --b: var(--active);
        --bc: var(--active);
        --d-o: 0.3s;
        --d-t: 0.6s;
        --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
    }
    input[type='checkbox']:disabled,
    input[type='radio']:disabled {
        --b: var(--disabled);
        cursor: not-allowed;
        opacity: 0.9;
    }
    input[type='checkbox']:disabled:checked,
    input[type='radio']:disabled:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
    }
    input[type='checkbox']:disabled + label,
    input[type='radio']:disabled + label {
        cursor: not-allowed;
    }
    input[type='checkbox']:hover:not(:checked):not(:disabled),
    input[type='radio']:hover:not(:checked):not(:disabled) {
        --bc: var(--border-hover);
    }
    input[type='checkbox']:focus,
    input[type='radio']:focus {
        box-shadow: 0 0 0 var(--focus);
    }
    input[type='checkbox']:not(.switch),
    input[type='radio']:not(.switch) {
        width: 21px;
    }
    input[type='checkbox']:not(.switch):after,
    input[type='radio']:not(.switch):after {
        opacity: var(--o, 0);
    }
    input[type='checkbox']:not(.switch):checked,
    input[type='radio']:not(.switch):checked {
        --o: 1;
    }
    input[type='checkbox'] + label,
    input[type='radio'] + label {
        font-size: 14px;
        line-height: 21px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        margin-left: 4px;
    }
    input[type='checkbox']:not(.switch) {
        border-radius: 7px;
    }
    input[type='checkbox']:not(.switch):after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
    }
    input[type='checkbox']:not(.switch):checked {
        --r: 43deg;
    }
    input[type='checkbox'].switch {
        width: 38px;
        border-radius: 11px;
    }
    input[type='checkbox'].switch:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
    }
    input[type='checkbox'].switch:checked {
        --ab: var(--active-inner);
        --x: 17px;
    }
    input[type='checkbox'].switch:disabled:not(:checked):after {
        opacity: 0.6;
    }
    input[type='radio'] {
        border-radius: 50%;
    }
    input[type='radio']:after {
        width: 19px;
        height: 19px;
        border-radius: 50%;
        background: var(--active-inner);
        opacity: 0;
        transform: scale(var(--s, 0.7));
    }
    input[type='radio']:checked {
        --s: 0.5;
    }
}
label {
    color: rgb(109, 117, 141);
}
/*  */
.upload-form textarea {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-left: 15px;
    font-size: 16px;
    cursor: pointer;
    color: #000000;
    border: none;
    border-radius: 10px;
    resize: none;
}
/* form */

/* response container starts */
.response-container {
    min-height: 365px;
    min-width: 320px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.08);
    min-width: 320px;
    padding-top: 0;
    padding: 32px;
    width: 100%;
    margin: 50px auto;
}
/* response container ends */

/* footer style starts */
footer {
    position: relative;
    font-size: 12px;
    width: 100%;
    height: 150px;
    line-height: 60px;
    font-size: 14px;
    background-color: #f1f1f1;
    color: #000;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid;
}
footer a:hover {
    border-bottom: 1px transparent;
}
/* footer style ends */
