<div class="upload-form">
    <form
        class="container"
        style="padding: 0"
        action="/upload/doc/local"
        enctype="multipart/form-data"
        method="POST"
    >
        <div class="drop-zone">
            <span class="drop-zone__prompt">
                <i class="fa fa-upload" aria-hidden="true"></i>
            </span>
            <input type="file" name="doc_ops" class="custom-form-input drop-zone__input" />
        </div>
        <div class="custom-form-group" style="height: 200px">
            <label class="custom-form-label" for="email">Search String</label>
            <textarea
                cols="100"
                rows="10"
                type="checkbox"
                class="custom-form-input"
                name="search_string"
            ></textarea>
        </div>
        <div class="custom-form-group">
            <label class="custom-form-label" for="email">Search String Only</label>
            <input type="checkbox" class="custom-form-input" name="searched_only" />
        </div>
        <div class="custom-form-group">
            <label class="custom-form-label" for="email">Detailed</label>
            <input type="checkbox" class="custom-form-input" name="detailed" />
        </div>
        <div class="custom-form-group">
            <label class="custom-form-label" for="email">Email</label>
            <input type="email" data-qa="txtEmail" class="custom-form-input" name="email" />
        </div>

        <div>
            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title=""> </span>
            <button
                class="btn btn-dark my-3 doc-upload-btn"
                title="Upload"
                data-toggle="popover"
                data-trigger="hover"
                data-placement="bottom"
                data-content="After uploading the document you will be given options to add diff operation on the document"
                type="submit"
            >
                Upload
            </button>
            <input
                class="btn btn-dark my-3 doc-upload-btn"
                data-toggle="popover"
                data-trigger="hover"
                data-placement="bottom"
                data-content="reset the input fields"
                type="reset"
            />
        </div>
    </form>
</div>
