<!-- Footer starts-->
<footer>

  <!-- Copyright -->
  <!-- ❤️  -->
  <div class="footer-copyright text-center">&copy; Designed and Developed </i> by 
    <a href="#" class="white-text" target="_blank">Gaurav Chaurasia</a> and 
    <a href="#" class="white-text" target="_blank">Upendra Pal</a>. 
    <a href="#" target="_blank">CODE_OF_CONDUCT</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer ends-->