<header role="banner">
    <div id="logo-main" width="200">Doc-Ops</div>
    <nav>
        <ul class="menuItems container">
            <li><a href="/" data-item="Home">Home</a></li>
            <li><a href="/api/ope">DocOpe</a></li>
            <li><a href="#" data-item="About">About</a></li>
            <li><a href="#" data-item="Projects">Projects</a></li>
            <li><a href="#" data-item="Contact">Contact</a></li>
            <ul class="dashbord-stuff container">
                <% if (current_user) { %>
                    <li 
                    class="d-inline-block"
                    style="border-color: transparent; margin-left: 10px;"
                    data-toggle="popover"
                    data-placement="bottom"
                    data-bs-toggle="popover" 
                    data-bs-trigger="hover focus" 
                    data-bs-content="<%= current_user.profile.name %>"
                    >
                    <a href="/account">
                        <div class="profile">
                            <img src="<%= current_user.profile.picture %>" alt="abc">
                        </div>
                    </a>
                </li>
                <li><a href="/logout" data-item="Logout">Logout</a></li>
                <% } else { %>
                    <li><a href="/login" data-item="Login">Login</a></li>
                    <li style="pointer-events: none">|</li>
                    <li><a href="/signup" data-item="Signup">Signup</a></li>
                <% } %>
            </ul>
        </ul>
    </nav>
</header>
