<header role="banner">
    <div id="logo-main" width="200">Doc-Ops</div>
    <nav>
        <ul class="menuItems container">
            <li><a href="/hrms" data-item="Home">Home</a></li>
            <li><a href="/about" data-item="About">About</a></li>
            <li><a href="/projects" data-item="Projects">Projects</a></li>
            <li><a href="/blogs" data-item="Blog">Blog</a></li>
            <li><a href="/contacts" data-item="Contact">Contact</a></li>
            <ul class="dashbord-stuff container">
                <li><a href="/login" data-item="Home">Login</a></li>
                <li>|</li>
                <li><a href="/signup" data-item="About">Signup</a></li>
            </ul>
        </ul>
    </nav>
</header>
